body {
  cursor:
    url("images/cursor/cursor.png") 0 0,
    auto;
  cursor:
    url("images/cursor/cursor.png") 0 0,
    pointer;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  background-image: url('images/background.png');
  background-repeat: repeat;
  background-size: auto;
  color: white;
  text-align: center;
  font-family: 'Minecraft';
}

hr {
  width: 50%;
}

a:link {
  color: white; 
}

a:visited {
  color: #a7b7fc; 
}

a:hover {
  color: #505e9a; 
}

.border {
  border: solid;
  border-width: thick;
  border-top-color: #2a2a2a;
  border-left-color: #201f1f;
  border-right-color: #141414;
  border-bottom-color: black;
}

.stonebutton {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  background-image: url('images/stone.png');
  background-repeat: repeat;
  background-size: auto;
  color: white;
  text-align: center;
  font-family: 'Minecraft';

}

.woodbutton {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  background-image: url('images/planks.png');
  background-repeat: repeat;
  background-size: auto;
  color: white;
  text-align: center;
  font-family: 'Minecraft';
  border: solid;
  border-width: 2px;
  border-top-color: #bc9862;
  border-left-color: #9f844d;
  border-right-color: #735e39;
  border-bottom-color: #695433;
}

.woodbutton:active {
  border-top-color: #695433;
  border-left-color: #735e39;
  border-right-color: #9f844d;
  border-bottom-color: #bc9862;
}

.menu {
  background-color: #000000;
}

@font-face {
  font-family: 'Minecraft';
  src: url('fonts/mc.woff');
}
