body {
  cursor:
    url("images/cursor/cursor.png") 0 0,
    auto;
  cursor:
    url("images/cursor/cursor.png") 0 0,
    pointer;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  background-image: url('images/background.png');
  background-repeat: repeat;
  background-size: auto;
  color: white;
  text-align: center;
  font-family: 'Minecraft';
}

hr {
  width: 50%;
}

.border {
  border: solid;
  border-width: thick;
  border-top-color: #2a2a2a;
  border-left-color: #201f1f;
  border-right-color: #141414;
  border-bottom-color: black;
}

.logo {
  width: 240px; 
  height: 129px;
}

.oldschool {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  background-image: url('images/background.png');
  background-repeat: repeat;
  background-size: auto;
  color: white;
  text-align: center;
  font-family: 'Minecraft';

}

@font-face {
  font-family: 'Minecraft';
  src: url('fonts/mc.woff');
}
